<!DOCTYPE html>
<html lang="ru">
<head>
	<title>404: не найдено!</title>
	<meta charset="UTF-8">
	<link rel="shortcut icon" href="public/images/favicon.png" type="image/png">
	<link rel='stylesheet' href="public/stylesheets/style.css" />
</head>
<body>
	<section id="error404">
		<h2 class="item">404</h2>
		<p class="item">Страницы нет!</p>
		<a href="/" class="item">Вернуться на главную</a>
	</section>
</body>
</html>